{% extends 'ASFContactBundle::layout.html.twig'  %}

{% block asf_contact_content %}

    <h1>{{ 'asf.contact.title.contact_manager'|trans }}</h1>

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ 'asf.contact.btn.add_new_contact'|trans }} <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
    	<li><a href="{{ path('asf_contact_identity_add', {type:'person'}) }}" title="{{ 'Add a person'|trans }}">{{ 'asf.contact.btn.add_a_person'|trans }}</a></li>
    	<li><a href="{{ path('asf_contact_identity_add', {type:'organisation'}) }}" title="{{ 'Add an organization'|trans }}">{{ 'asf.contact.btn.add_an_organization'|trans }}</a></li>
    </ul>

    <div class="row">
    	<div class="col-xs-12">
    		{{ grid(grid) }}
    	</div>
    </div>

{% endblock %}